version: '3'

services:
  DW_postgres:
    image: postgres:latest
    ports:
      - "5433:5432"
    networks:
      - etl_network
    environment:
      POSTGRES_DB: DW_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
    
  stage_postgres:
    image: postgres:latest
    ports:
      - "5434:5432"
    networks:
      - etl_network
    environment:
      POSTGRES_DB: stage_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret

    
  etl_script:
    build:
      context: ./etl_scripts
      dockerfile: Dockerfile
    volumes:
      - ./etl_scripts:/usr/src/app/dev
    depends_on:
      - DW_postgres
      - stage_postgres
    networks:
      - etl_network
    environment:
      - PYTHONUNBUFFERED=1
    
      
networks:
  etl_network:
    driver: bridge
