version: '3'

services:
  DW_postgres:
    image: postgres:latest 
    ports:
      - "5432:5434"
    networks:
      - etl_network
    environment:
      POSTGRES_DB: stage_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secret
    
    
  etl_script:
    build:
      context: ./etl_scripts 
      dockerfile: Dockerfile 
    depends_on:
      - DW_postgres
    networks:
      - etl_network
    
      
networks:
  etl_network:
    driver: bridge
